@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');

.maintext { font-family: 'Kavivanar', cursive;
    text-align: center;
    color: floralwhite;
    font-size: 18px;
}

#maintitle {
    text-indent:50px;
    font-family: 'Marck Script', cursive;
    color: antiquewhite;
}

.headertext {
    margin-top: 5px;
    color: #1dfa7c;
}

.headertext:last-child { margin-bottom: 0px;}


img {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    margin-top: 30px;
}

#start_container {
    background-image: url("/_img/_mainbg.png");
    width: 100%;
    /*height: 100vh;*/ /* Troca por min-height pra não bugar quando a altura da página for menor que a altura do conteúdo */
    min-height: 100vh;
}

#mainimg {
    padding: 15px;
    margin-top: 100px;
}

#container_header {
    /*margin-left: 150px;*/ /* Isso aqui tava substituindo a ação do container de centralizar o conteúdo */
}

@media (min-width: 1200px) {
    .container-fluid{
        max-width: 1200px;
    }
}
