@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');

html {
    font-size: 10px; /* Pra referenciar o rem */
}

/* O 'rem' se referencia ao font-size do html */
/* 1.2rem = 12px nesse caso */
/* O 'em' se referencia ao pai ou ao próprio elemento */

/* Up Header */
#up-header {
    background-color: #1c1f22;
    padding: 0.5rem 0;
}
    #up-header .headertext {
        color: #FFF;
        font-size: 1.2rem;
        margin: 0;
        text-indent: 0; /* Tu colocou que todos os Ps do documento vão ter text-indent, vê se é isso que tu quer */
    }

    #up-header .social-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
        #up-header .social-list > li {
            float: left;
            line-height: 1em;
            margin-right: 1rem;
        }
            #up-header .social-list > li:last-child {
                margin-right: 0;
            }

            #up-header .social-list > li > a {
                color: #FFF;
                display: block;
                font-size: 2rem;
            }
                #up-header .social-list > li > a:hover,
                #up-header .social-list > li > a:active {
                    text-decoration: none;
                }

/* Header */
#header {
    padding: 1rem 0;
}
    #header .logo {
        line-height: 1;
        margin: 0;
    }

    #header .navbar {
        padding: 0;
    }
        #header .navbar li {
            margin-right: 1rem;
        }
            #header .navbar li:last-child {
                margin-right: 0;
            }

            #header .navbar li > a {
                font-size: 1.6rem;
            }

/* Conteúdo */
.maintext { font-family: 'Kavivanar', cursive;
    text-align: center;
    color: floralwhite;
    font-size: 18px;
}

#maintitle {
    padding: 1.5em;
    text-indent:50px;
    font-family: 'Marck Script', cursive;
    color: antiquewhite;
    font-size: 30px;
}

img {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    margin-top: 30px;
}

#start_container {
    background-image: url("/_img/_mainbg.png");
    width: 100%;
    /*height: 100vh;*/ /* Troca por min-height pra não bugar quando a altura da página for menor que a altura do conteúdo */
    min-height: 100vh;
}

#mainimg {
    padding: 15px;
    margin-top: 100px;
}

#container_header {
    /*margin-left: 150px;*/ /* Isso aqui tava substituindo a ação do container de centralizar o conteúdo */
}

@media (min-width: 1200px) {
    .container-fluid{
        max-width: 1200px;
    }
}

#about_game {
    background-color: #343a40;;
}

#about_game p {
    font-size: 1.5em;
    padding-top: 2.5em
}

#footer {
    background: #1c1f22;
    color: #ffffff;
    padding: 0.5rem 0;
}

#footer p{
    padding: 1em;
    font-size: 1.1em;
}

#footer .social {
    text-align: right;
    margin: 1em 0 0 0;
}

#footer .social a {
    text-decoration: none;
    color: #fff;
    padding: 0.9em;
}

#footer .social a:hover {
    text-decoration: underline;
}

#calltoaction {
    background: #b7bbbe;
    margin: 2em 0;
    min-height: 400px;
    text-align: center;
}

#calltoaction h1{
    padding: 1.5em 0 0 0;
    font-size: 3.5rem;
    color: black;
}

#calltoaction a {
    font-family: 'Kavivanar', cursive;
    font-size: 1.5rem;
}

#contact {
    background-color: #b7bbbe;
    padding: 2em 0;
    text-align: center;
}

.form-group{
    margin-bottom: 1em;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5;
    padding: 0.4em 0.5em;
    border: 1px solid #cecece;
    border-radius: 0.2em;
}